<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.isekai">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Isekai">
        <activity android:name=".HomePage"
            android:theme="@style/Theme.Isekai.NoActionBar"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBgDlUqj0R2STBwYqnQPrzN9NMeZzKH8Ks" />

        <activity
            android:name=".SignIn.LoginPage"
            android:theme="@style/Theme.Isekai.NoActionBar" />

        <activity
            android:name=".SignIn.SignupActivity"
            android:theme="@style/Theme.Isekai.NoActionBar" />
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:theme="@style/Theme.Isekai.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".writeNewDiary.NewDiary1" />
        <activity android:name=".writeNewDiary.NewDiary2" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>